/**
 * 主题色
 */
.fr-bg-primary{background-color: $fr-color-primary;}
.fr-bg-primary-1{background-color: $fr-color-primary-light-1;}
.fr-bg-primary-2{background-color: $fr-color-primary-light-2;}
.fr-bg-primary-3{background-color: $fr-color-primary-light-3;}
.fr-bg-primary-4{background-color: $fr-color-primary-light-4;}
.fr-bg-primary-5{background-color: $fr-color-primary-light-5;}
.fr-bg-primary-6{background-color: $fr-color-primary-light-6;}
.fr-bg-primary-7{background-color: $fr-color-primary-light-7;}
.fr-bg-primary-8{background-color: $fr-color-primary-light-8;}
.fr-bg-primary-9{background-color: $fr-color-primary-light-9;}
/**
 * 成功
 */
.fr-bg-success{background-color: $fr-color-success;}
.fr-bg-success-1{background-color: $fr-color-success-light-1;}
.fr-bg-success-2{background-color: $fr-color-success-light-2;}
.fr-bg-success-3{background-color: $fr-color-success-light-3;}
.fr-bg-success-4{background-color: $fr-color-success-light-4;}
.fr-bg-success-5{background-color: $fr-color-success-light-5;}
.fr-bg-success-6{background-color: $fr-color-success-light-6;}
.fr-bg-success-7{background-color: $fr-color-success-light-7;}
.fr-bg-success-8{background-color: $fr-color-success-light-8;}
.fr-bg-success-9{background-color: $fr-color-success-light-9;}
/**
 * 警告
 */
.fr-bg-warning{background-color: $fr-color-warning;}
.fr-bg-warning-1{background-color: $fr-color-warning-light-1;}
.fr-bg-warning-2{background-color: $fr-color-warning-light-2;}
.fr-bg-warning-3{background-color: $fr-color-warning-light-3;}
.fr-bg-warning-4{background-color: $fr-color-warning-light-4;}
.fr-bg-warning-5{background-color: $fr-color-warning-light-5;}
.fr-bg-warning-6{background-color: $fr-color-warning-light-6;}
.fr-bg-warning-7{background-color: $fr-color-warning-light-7;}
.fr-bg-warning-8{background-color: $fr-color-warning-light-8;}
.fr-bg-warning-9{background-color: $fr-color-warning-light-9;}
/**
 * 错误
 */
.fr-bg-danger{background-color: $fr-color-danger;}
.fr-bg-danger-1{background-color: $fr-color-danger-light-1;}
.fr-bg-danger-2{background-color: $fr-color-danger-light-2;}
.fr-bg-danger-3{background-color: $fr-color-danger-light-3;}
.fr-bg-danger-4{background-color: $fr-color-danger-light-4;}
.fr-bg-danger-5{background-color: $fr-color-danger-light-5;}
.fr-bg-danger-6{background-color: $fr-color-danger-light-6;}
.fr-bg-danger-7{background-color: $fr-color-danger-light-7;}
.fr-bg-danger-8{background-color: $fr-color-danger-light-8;}
.fr-bg-danger-9{background-color: $fr-color-danger-light-9;}
/**
 * 灰色
 */
.fr-bg-white{background-color: $fr-color-white;}
.fr-bg-black{background-color: $fr-color-black;}
.fr-bg-gray-1{background-color: $fr-color-gray-1;}
.fr-bg-gray-2{background-color: $fr-color-gray-2;}
.fr-bg-gray-3{background-color: $fr-color-gray-3;}
.fr-bg-gray-4{background-color: $fr-color-gray-4;}
.fr-bg-gray-5{background-color: $fr-color-gray-5;}
.fr-bg-gray-6{background-color: $fr-color-gray-6;}
.fr-bg-gray-7{background-color: $fr-color-gray-7;}
.fr-bg-gray-8{background-color: $fr-color-gray-8;}
.fr-bg-gray-9{background-color: $fr-color-gray-9;}
.fr-bg-gray-10{background-color: $fr-color-gray-10;}