/**
 * 主题色
 */
.fr-border-primary{border-color: $fr-color-primary;}
.fr-border-primary-1{border-color: $fr-color-primary-light-1;}
.fr-border-primary-2{border-color: $fr-color-primary-light-2;}
.fr-border-primary-3{border-color: $fr-color-primary-light-3;}
.fr-border-primary-4{border-color: $fr-color-primary-light-4;}
.fr-border-primary-5{border-color: $fr-color-primary-light-5;}
.fr-border-primary-6{border-color: $fr-color-primary-light-6;}
.fr-border-primary-7{border-color: $fr-color-primary-light-7;}
.fr-border-primary-8{border-color: $fr-color-primary-light-8;}
.fr-border-primary-9{border-color: $fr-color-primary-light-9;}
.fr-border-left-primary{border-left-color: $fr-color-primary;}
.fr-border-left-primary-1{border-left-color: $fr-color-primary-light-1;}
.fr-border-left-primary-2{border-left-color: $fr-color-primary-light-2;}
.fr-border-left-primary-3{border-left-color: $fr-color-primary-light-3;}
.fr-border-left-primary-4{border-left-color: $fr-color-primary-light-4;}
.fr-border-left-primary-5{border-left-color: $fr-color-primary-light-5;}
.fr-border-left-primary-6{border-left-color: $fr-color-primary-light-6;}
.fr-border-left-primary-7{border-left-color: $fr-color-primary-light-7;}
.fr-border-left-primary-8{border-left-color: $fr-color-primary-light-8;}
.fr-border-left-primary-9{border-left-color: $fr-color-primary-light-9;}
.fr-border-right-primary{border-right-color: $fr-color-primary;}
.fr-border-right-primary-1{border-right-color: $fr-color-primary-light-1;}
.fr-border-right-primary-2{border-right-color: $fr-color-primary-light-2;}
.fr-border-right-primary-3{border-right-color: $fr-color-primary-light-3;}
.fr-border-right-primary-4{border-right-color: $fr-color-primary-light-4;}
.fr-border-right-primary-5{border-right-color: $fr-color-primary-light-5;}
.fr-border-right-primary-6{border-right-color: $fr-color-primary-light-6;}
.fr-border-right-primary-7{border-right-color: $fr-color-primary-light-7;}
.fr-border-right-primary-8{border-right-color: $fr-color-primary-light-8;}
.fr-border-right-primary-9{border-right-color: $fr-color-primary-light-9;}
.fr-border-top-primary{border-top-color: $fr-color-primary;}
.fr-border-top-primary-1{border-top-color: $fr-color-primary-light-1;}
.fr-border-top-primary-2{border-top-color: $fr-color-primary-light-2;}
.fr-border-top-primary-3{border-top-color: $fr-color-primary-light-3;}
.fr-border-top-primary-4{border-top-color: $fr-color-primary-light-4;}
.fr-border-top-primary-5{border-top-color: $fr-color-primary-light-5;}
.fr-border-top-primary-6{border-top-color: $fr-color-primary-light-6;}
.fr-border-top-primary-7{border-top-color: $fr-color-primary-light-7;}
.fr-border-top-primary-8{border-top-color: $fr-color-primary-light-8;}
.fr-border-top-primary-9{border-top-color: $fr-color-primary-light-9;}
.fr-border-bottom-primary{border-bottom-color: $fr-color-primary;}
.fr-border-bottom-primary-1{border-bottom-color: $fr-color-primary-light-1;}
.fr-border-bottom-primary-2{border-bottom-color: $fr-color-primary-light-2;}
.fr-border-bottom-primary-3{border-bottom-color: $fr-color-primary-light-3;}
.fr-border-bottom-primary-4{border-bottom-color: $fr-color-primary-light-4;}
.fr-border-bottom-primary-5{border-bottom-color: $fr-color-primary-light-5;}
.fr-border-bottom-primary-6{border-bottom-color: $fr-color-primary-light-6;}
.fr-border-bottom-primary-7{border-bottom-color: $fr-color-primary-light-7;}
.fr-border-bottom-primary-8{border-bottom-color: $fr-color-primary-light-8;}
.fr-border-bottom-primary-9{border-bottom-color: $fr-color-primary-light-9;}
/**
 * 成功
 */
.fr-border-success{border-color: $fr-color-success;}
.fr-border-success-1{border-color: $fr-color-success-light-1;}
.fr-border-success-2{border-color: $fr-color-success-light-2;}
.fr-border-success-3{border-color: $fr-color-success-light-3;}
.fr-border-success-4{border-color: $fr-color-success-light-4;}
.fr-border-success-5{border-color: $fr-color-success-light-5;}
.fr-border-success-6{border-color: $fr-color-success-light-6;}
.fr-border-success-7{border-color: $fr-color-success-light-7;}
.fr-border-success-8{border-color: $fr-color-success-light-8;}
.fr-border-success-9{border-color: $fr-color-success-light-9;}
.fr-border-left-success{border-left-color: $fr-color-success;}
.fr-border-left-success-1{border-left-color: $fr-color-success-light-1;}
.fr-border-left-success-2{border-left-color: $fr-color-success-light-2;}
.fr-border-left-success-3{border-left-color: $fr-color-success-light-3;}
.fr-border-left-success-4{border-left-color: $fr-color-success-light-4;}
.fr-border-left-success-5{border-left-color: $fr-color-success-light-5;}
.fr-border-left-success-6{border-left-color: $fr-color-success-light-6;}
.fr-border-left-success-7{border-left-color: $fr-color-success-light-7;}
.fr-border-left-success-8{border-left-color: $fr-color-success-light-8;}
.fr-border-left-success-9{border-left-color: $fr-color-success-light-9;}
.fr-border-right-success{border-right-color: $fr-color-success;}
.fr-border-right-success-1{border-right-color: $fr-color-success-light-1;}
.fr-border-right-success-2{border-right-color: $fr-color-success-light-2;}
.fr-border-right-success-3{border-right-color: $fr-color-success-light-3;}
.fr-border-right-success-4{border-right-color: $fr-color-success-light-4;}
.fr-border-right-success-5{border-right-color: $fr-color-success-light-5;}
.fr-border-right-success-6{border-right-color: $fr-color-success-light-6;}
.fr-border-right-success-7{border-right-color: $fr-color-success-light-7;}
.fr-border-right-success-8{border-right-color: $fr-color-success-light-8;}
.fr-border-right-success-9{border-right-color: $fr-color-success-light-9;}
.fr-border-top-success{border-top-color: $fr-color-success;}
.fr-border-top-success-1{border-top-color: $fr-color-success-light-1;}
.fr-border-top-success-2{border-top-color: $fr-color-success-light-2;}
.fr-border-top-success-3{border-top-color: $fr-color-success-light-3;}
.fr-border-top-success-4{border-top-color: $fr-color-success-light-4;}
.fr-border-top-success-5{border-top-color: $fr-color-success-light-5;}
.fr-border-top-success-6{border-top-color: $fr-color-success-light-6;}
.fr-border-top-success-7{border-top-color: $fr-color-success-light-7;}
.fr-border-top-success-8{border-top-color: $fr-color-success-light-8;}
.fr-border-top-success-9{border-top-color: $fr-color-success-light-9;}
.fr-border-bottom-success{border-bottom-color: $fr-color-success;}
.fr-border-bottom-success-1{border-bottom-color: $fr-color-success-light-1;}
.fr-border-bottom-success-2{border-bottom-color: $fr-color-success-light-2;}
.fr-border-bottom-success-3{border-bottom-color: $fr-color-success-light-3;}
.fr-border-bottom-success-4{border-bottom-color: $fr-color-success-light-4;}
.fr-border-bottom-success-5{border-bottom-color: $fr-color-success-light-5;}
.fr-border-bottom-success-6{border-bottom-color: $fr-color-success-light-6;}
.fr-border-bottom-success-7{border-bottom-color: $fr-color-success-light-7;}
.fr-border-bottom-success-8{border-bottom-color: $fr-color-success-light-8;}
.fr-border-bottom-success-9{border-bottom-color: $fr-color-success-light-9;}
/**
 * 警告
 */
.fr-border-warning{border-color: $fr-color-warning;}
.fr-border-warning-1{border-color: $fr-color-warning-light-1;}
.fr-border-warning-2{border-color: $fr-color-warning-light-2;}
.fr-border-warning-3{border-color: $fr-color-warning-light-3;}
.fr-border-warning-4{border-color: $fr-color-warning-light-4;}
.fr-border-warning-5{border-color: $fr-color-warning-light-5;}
.fr-border-warning-6{border-color: $fr-color-warning-light-6;}
.fr-border-warning-7{border-color: $fr-color-warning-light-7;}
.fr-border-warning-8{border-color: $fr-color-warning-light-8;}
.fr-border-warning-9{border-color: $fr-color-warning-light-9;}
.fr-border-left-warning{border-left-color: $fr-color-warning;}
.fr-border-left-warning-1{border-left-color: $fr-color-warning-light-1;}
.fr-border-left-warning-2{border-left-color: $fr-color-warning-light-2;}
.fr-border-left-warning-3{border-left-color: $fr-color-warning-light-3;}
.fr-border-left-warning-4{border-left-color: $fr-color-warning-light-4;}
.fr-border-left-warning-5{border-left-color: $fr-color-warning-light-5;}
.fr-border-left-warning-6{border-left-color: $fr-color-warning-light-6;}
.fr-border-left-warning-7{border-left-color: $fr-color-warning-light-7;}
.fr-border-left-warning-8{border-left-color: $fr-color-warning-light-8;}
.fr-border-left-warning-9{border-left-color: $fr-color-warning-light-9;}
.fr-border-right-warning{border-right-color: $fr-color-warning;}
.fr-border-right-warning-1{border-right-color: $fr-color-warning-light-1;}
.fr-border-right-warning-2{border-right-color: $fr-color-warning-light-2;}
.fr-border-right-warning-3{border-right-color: $fr-color-warning-light-3;}
.fr-border-right-warning-4{border-right-color: $fr-color-warning-light-4;}
.fr-border-right-warning-5{border-right-color: $fr-color-warning-light-5;}
.fr-border-right-warning-6{border-right-color: $fr-color-warning-light-6;}
.fr-border-right-warning-7{border-right-color: $fr-color-warning-light-7;}
.fr-border-right-warning-8{border-right-color: $fr-color-warning-light-8;}
.fr-border-right-warning-9{border-right-color: $fr-color-warning-light-9;}
.fr-border-top-warning{border-top-color: $fr-color-warning;}
.fr-border-top-warning-1{border-top-color: $fr-color-warning-light-1;}
.fr-border-top-warning-2{border-top-color: $fr-color-warning-light-2;}
.fr-border-top-warning-3{border-top-color: $fr-color-warning-light-3;}
.fr-border-top-warning-4{border-top-color: $fr-color-warning-light-4;}
.fr-border-top-warning-5{border-top-color: $fr-color-warning-light-5;}
.fr-border-top-warning-6{border-top-color: $fr-color-warning-light-6;}
.fr-border-top-warning-7{border-top-color: $fr-color-warning-light-7;}
.fr-border-top-warning-8{border-top-color: $fr-color-warning-light-8;}
.fr-border-top-warning-9{border-top-color: $fr-color-warning-light-9;}
.fr-border-bottom-warning{border-bottom-color: $fr-color-warning;}
.fr-border-bottom-warning-1{border-bottom-color: $fr-color-warning-light-1;}
.fr-border-bottom-warning-2{border-bottom-color: $fr-color-warning-light-2;}
.fr-border-bottom-warning-3{border-bottom-color: $fr-color-warning-light-3;}
.fr-border-bottom-warning-4{border-bottom-color: $fr-color-warning-light-4;}
.fr-border-bottom-warning-5{border-bottom-color: $fr-color-warning-light-5;}
.fr-border-bottom-warning-6{border-bottom-color: $fr-color-warning-light-6;}
.fr-border-bottom-warning-7{border-bottom-color: $fr-color-warning-light-7;}
.fr-border-bottom-warning-8{border-bottom-color: $fr-color-warning-light-8;}
.fr-border-bottom-warning-9{border-bottom-color: $fr-color-warning-light-9;}
/**
 * 错误
 */
.fr-border-danger{border-color: $fr-color-danger;}
.fr-border-danger-1{border-color: $fr-color-danger-light-1;}
.fr-border-danger-2{border-color: $fr-color-danger-light-2;}
.fr-border-danger-3{border-color: $fr-color-danger-light-3;}
.fr-border-danger-4{border-color: $fr-color-danger-light-4;}
.fr-border-danger-5{border-color: $fr-color-danger-light-5;}
.fr-border-danger-6{border-color: $fr-color-danger-light-6;}
.fr-border-danger-7{border-color: $fr-color-danger-light-7;}
.fr-border-danger-8{border-color: $fr-color-danger-light-8;}
.fr-border-danger-9{border-color: $fr-color-danger-light-9;}
.fr-border-left-danger{border-left-color: $fr-color-danger;}
.fr-border-left-danger-1{border-left-color: $fr-color-danger-light-1;}
.fr-border-left-danger-2{border-left-color: $fr-color-danger-light-2;}
.fr-border-left-danger-3{border-left-color: $fr-color-danger-light-3;}
.fr-border-left-danger-4{border-left-color: $fr-color-danger-light-4;}
.fr-border-left-danger-5{border-left-color: $fr-color-danger-light-5;}
.fr-border-left-danger-6{border-left-color: $fr-color-danger-light-6;}
.fr-border-left-danger-7{border-left-color: $fr-color-danger-light-7;}
.fr-border-left-danger-8{border-left-color: $fr-color-danger-light-8;}
.fr-border-left-danger-9{border-left-color: $fr-color-danger-light-9;}
.fr-border-right-danger{border-right-color: $fr-color-danger;}
.fr-border-right-danger-1{border-right-color: $fr-color-danger-light-1;}
.fr-border-right-danger-2{border-right-color: $fr-color-danger-light-2;}
.fr-border-right-danger-3{border-right-color: $fr-color-danger-light-3;}
.fr-border-right-danger-4{border-right-color: $fr-color-danger-light-4;}
.fr-border-right-danger-5{border-right-color: $fr-color-danger-light-5;}
.fr-border-right-danger-6{border-right-color: $fr-color-danger-light-6;}
.fr-border-right-danger-7{border-right-color: $fr-color-danger-light-7;}
.fr-border-right-danger-8{border-right-color: $fr-color-danger-light-8;}
.fr-border-right-danger-9{border-right-color: $fr-color-danger-light-9;}
.fr-border-top-danger{border-top-color: $fr-color-danger;}
.fr-border-top-danger-1{border-top-color: $fr-color-danger-light-1;}
.fr-border-top-danger-2{border-top-color: $fr-color-danger-light-2;}
.fr-border-top-danger-3{border-top-color: $fr-color-danger-light-3;}
.fr-border-top-danger-4{border-top-color: $fr-color-danger-light-4;}
.fr-border-top-danger-5{border-top-color: $fr-color-danger-light-5;}
.fr-border-top-danger-6{border-top-color: $fr-color-danger-light-6;}
.fr-border-top-danger-7{border-top-color: $fr-color-danger-light-7;}
.fr-border-top-danger-8{border-top-color: $fr-color-danger-light-8;}
.fr-border-top-danger-9{border-top-color: $fr-color-danger-light-9;}
.fr-border-bottom-danger{border-bottom-color: $fr-color-danger;}
.fr-border-bottom-danger-1{border-bottom-color: $fr-color-danger-light-1;}
.fr-border-bottom-danger-2{border-bottom-color: $fr-color-danger-light-2;}
.fr-border-bottom-danger-3{border-bottom-color: $fr-color-danger-light-3;}
.fr-border-bottom-danger-4{border-bottom-color: $fr-color-danger-light-4;}
.fr-border-bottom-danger-5{border-bottom-color: $fr-color-danger-light-5;}
.fr-border-bottom-danger-6{border-bottom-color: $fr-color-danger-light-6;}
.fr-border-bottom-danger-7{border-bottom-color: $fr-color-danger-light-7;}
.fr-border-bottom-danger-8{border-bottom-color: $fr-color-danger-light-8;}
.fr-border-bottom-danger-9{border-bottom-color: $fr-color-danger-light-9;}
/**
 * 灰色
 */
.fr-border-white{border-color: $fr-color-white;}
.fr-border-black{border-color: $fr-color-black;}
.fr-border-gray-1{border-color: $fr-color-gray-1;}
.fr-border-gray-2{border-color: $fr-color-gray-2;}
.fr-border-gray-3{border-color: $fr-color-gray-3;}
.fr-border-gray-4{border-color: $fr-color-gray-4;}
.fr-border-gray-5{border-color: $fr-color-gray-5;}
.fr-border-gray-6{border-color: $fr-color-gray-6;}
.fr-border-gray-7{border-color: $fr-color-gray-7;}
.fr-border-gray-8{border-color: $fr-color-gray-8;}
.fr-border-gray-9{border-color: $fr-color-gray-9;}
.fr-border-gray-10{border-color: $fr-color-gray-10;}
.fr-border-left-white{border-left-color: $fr-color-white;}
.fr-border-left-black{border-left-color: $fr-color-black;}
.fr-border-left-gray-1{border-left-color: $fr-color-gray-1;}
.fr-border-left-gray-2{border-left-color: $fr-color-gray-2;}
.fr-border-left-gray-3{border-left-color: $fr-color-gray-3;}
.fr-border-left-gray-4{border-left-color: $fr-color-gray-4;}
.fr-border-left-gray-5{border-left-color: $fr-color-gray-5;}
.fr-border-left-gray-6{border-left-color: $fr-color-gray-6;}
.fr-border-left-gray-7{border-left-color: $fr-color-gray-7;}
.fr-border-left-gray-8{border-left-color: $fr-color-gray-8;}
.fr-border-left-gray-9{border-left-color: $fr-color-gray-9;}
.fr-border-left-gray-10{border-left-color: $fr-color-gray-10;}
.fr-border-right-white{border-right-color: $fr-color-white;}
.fr-border-right-black{border-right-color: $fr-color-black;}
.fr-border-right-gray-1{border-right-color: $fr-color-gray-1;}
.fr-border-right-gray-2{border-right-color: $fr-color-gray-2;}
.fr-border-right-gray-3{border-right-color: $fr-color-gray-3;}
.fr-border-right-gray-4{border-right-color: $fr-color-gray-4;}
.fr-border-right-gray-5{border-right-color: $fr-color-gray-5;}
.fr-border-right-gray-6{border-right-color: $fr-color-gray-6;}
.fr-border-right-gray-7{border-right-color: $fr-color-gray-7;}
.fr-border-right-gray-8{border-right-color: $fr-color-gray-8;}
.fr-border-right-gray-9{border-right-color: $fr-color-gray-9;}
.fr-border-right-gray-10{border-right-color: $fr-color-gray-10;}
.fr-border-top-white{border-top-color: $fr-color-white;}
.fr-border-top-black{border-top-color: $fr-color-black;}
.fr-border-top-gray-1{border-top-color: $fr-color-gray-1;}
.fr-border-top-gray-2{border-top-color: $fr-color-gray-2;}
.fr-border-top-gray-3{border-top-color: $fr-color-gray-3;}
.fr-border-top-gray-4{border-top-color: $fr-color-gray-4;}
.fr-border-top-gray-5{border-top-color: $fr-color-gray-5;}
.fr-border-top-gray-6{border-top-color: $fr-color-gray-6;}
.fr-border-top-gray-7{border-top-color: $fr-color-gray-7;}
.fr-border-top-gray-8{border-top-color: $fr-color-gray-8;}
.fr-border-top-gray-9{border-top-color: $fr-color-gray-9;}
.fr-border-top-gray-10{border-top-color: $fr-color-gray-10;}
.fr-border-bottom-white{border-bottom-color: $fr-color-white;}
.fr-border-bottom-black{border-bottom-color: $fr-color-black;}
.fr-border-bottom-gray-1{border-bottom-color: $fr-color-gray-1;}
.fr-border-bottom-gray-2{border-bottom-color: $fr-color-gray-2;}
.fr-border-bottom-gray-3{border-bottom-color: $fr-color-gray-3;}
.fr-border-bottom-gray-4{border-bottom-color: $fr-color-gray-4;}
.fr-border-bottom-gray-5{border-bottom-color: $fr-color-gray-5;}
.fr-border-bottom-gray-6{border-bottom-color: $fr-color-gray-6;}
.fr-border-bottom-gray-7{border-bottom-color: $fr-color-gray-7;}
.fr-border-bottom-gray-8{border-bottom-color: $fr-color-gray-8;}
.fr-border-bottom-gray-9{border-bottom-color: $fr-color-gray-9;}
.fr-border-bottom-gray-10{border-bottom-color: $fr-color-gray-10;}
/* 圆角 */
.fr-round {border-radius: 375rpx;}
.fr-round-none {border-radius: 0rpx;}
.fr-round-xs {border-radius: $fr-border-radius-xs;}
.fr-round-sm {border-radius: $fr-border-radius-sm;}
.fr-round-md {border-radius: $fr-border-radius-md;}
.fr-round-lg {border-radius: $fr-border-radius-lg;}
.fr-round-xl {border-radius: $fr-border-radius-xl;}
.fr-round-tl {border-top-left-radius: 375rpx;}
.fr-round-tl-none {border-top-left-radius: 0rpx;}
.fr-round-tl-xs {border-top-left-radius: $fr-border-radius-xs;}
.fr-round-tl-sm {border-top-left-radius: $fr-border-radius-sm;}
.fr-round-tl-md {border-top-left-radius: $fr-border-radius-md;}
.fr-round-tl-lg {border-top-left-radius: $fr-border-radius-lg;}
.fr-round-tl-xl {border-top-left-radius: $fr-border-radius-xl;}
.fr-round-tr {border-top-right-radius: 375rpx;}
.fr-round-tr-none {border-top-right-radius: 0rpx;}
.fr-round-tr-xs {border-top-right-radius: $fr-border-radius-xs;}
.fr-round-tr-sm {border-top-right-radius: $fr-border-radius-sm;}
.fr-round-tr-md {border-top-right-radius: $fr-border-radius-md;}
.fr-round-tr-lg {border-top-right-radius: $fr-border-radius-lg;}
.fr-round-tr-xl {border-top-right-radius: $fr-border-radius-xl;}
.fr-round-bl {border-bottom-left-radius: 375rpx;}
.fr-round-bl-none {border-bottom-left-radius: 0rpx;}
.fr-round-bl-xs {border-bottom-left-radius: $fr-border-radius-xs;}
.fr-round-bl-sm {border-bottom-left-radius: $fr-border-radius-sm;}
.fr-round-bl-md {border-bottom-left-radius: $fr-border-radius-md;}
.fr-round-bl-lg {border-bottom-left-radius: $fr-border-radius-lg;}
.fr-round-bl-xl {border-bottom-left-radius: $fr-border-radius-xl;}
.fr-round-br {border-bottom-right-radius: 375rpx;}
.fr-round-br-none {border-bottom-right-radius: 0rpx;}
.fr-round-br-xs {border-bottom-right-radius: $fr-border-radius-xs;}
.fr-round-br-sm {border-bottom-right-radius: $fr-border-radius-sm;}
.fr-round-br-md {border-bottom-right-radius: $fr-border-radius-md;}
.fr-round-br-lg {border-bottom-right-radius: $fr-border-radius-lg;}
.fr-round-br-xl {border-bottom-right-radius: $fr-border-radius-xl;}
/* 边框宽度 */
@for $i from 0 to 25{
	.fr-border-#{$i}{border-width: $i + rpx;}
	.fr-border-top-#{$i}{border-top-width: $i + rpx;}
	.fr-border-bottom-#{$i}{border-bottom-width: $i + rpx;}
	.fr-border-left-#{$i}{border-left-width: $i + rpx;}
	.fr-border-right-#{$i}{border-right-width: $i + rpx;}
}
/* 边框样式 */
.fr-border-solid{border-style: solid;}
.fr-border-dashed{border-style: dashed;}
.fr-border-dotted{border-style: dotted;}
.fr-border-none{border-style: none;}

.fr-border-top-solid{border-top-style: solid;}
.fr-border-top-dashed{border-top-style: dashed;}
.fr-border-top-dotted{border-top-style: dotted;}
.fr-border-top-none{border-top-style: none;}

.fr-border-bottom-solid{border-bottom-style: solid;}
.fr-border-bottom-dashed{border-bottom-style: dashed;}
.fr-border-bottom-dotted{border-bottom-style: dotted;}
.fr-border-bottom-none{border-bottom-style: none;}

.fr-border-right-solid{border-right-style: solid;}
.fr-border-right-dashed{border-right-style: dashed;}
.fr-border-right-dotted{border-right-style: dotted;}
.fr-border-right-none{border-right-style: none;}

.fr-border-left-solid{border-left-style: solid;}
.fr-border-left-dashed{border-left-style: dashed;}
.fr-border-left-dotted{border-left-style: dotted;}
.fr-border-left-none{border-left-style: none;}