/**
 * 主题色
 */
.fr-shadow-primary{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-primary;}
.fr-shadow-primary-1{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-primary-light-1;}
.fr-shadow-primary-2{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-primary-light-2;}
.fr-shadow-primary-3{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-primary-light-3;}
.fr-shadow-primary-4{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-primary-light-4;}
.fr-shadow-primary-5{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-primary-light-5;}
.fr-shadow-primary-6{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-primary-light-6;}
.fr-shadow-primary-7{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-primary-light-7;}
.fr-shadow-primary-8{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-primary-light-8;}
.fr-shadow-primary-9{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-primary-light-9;}
/**
 * 成功
 */
.fr-shadow-success{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-success;}
.fr-shadow-success-1{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-success-light-1;}
.fr-shadow-success-2{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-success-light-2;}
.fr-shadow-success-3{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-success-light-3;}
.fr-shadow-success-4{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-success-light-4;}
.fr-shadow-success-5{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-success-light-5;}
.fr-shadow-success-6{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-success-light-6;}
.fr-shadow-success-7{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-success-light-7;}
.fr-shadow-success-8{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-success-light-8;}
.fr-shadow-success-9{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-success-light-9;}
/**
 * 警告
 */
.fr-shadow-warning{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-warning;}
.fr-shadow-warning-1{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-warning-light-1;}
.fr-shadow-warning-2{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-warning-light-2;}
.fr-shadow-warning-3{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-warning-light-3;}
.fr-shadow-warning-4{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-warning-light-4;}
.fr-shadow-warning-5{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-warning-light-5;}
.fr-shadow-warning-6{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-warning-light-6;}
.fr-shadow-warning-7{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-warning-light-7;}
.fr-shadow-warning-8{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-warning-light-8;}
.fr-shadow-warning-9{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-warning-light-9;}
/**
 * 错误
 */
.fr-shadow-danger{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-danger;}
.fr-shadow-danger-1{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-danger-light-1;}
.fr-shadow-danger-2{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-danger-light-2;}
.fr-shadow-danger-3{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-danger-light-3;}
.fr-shadow-danger-4{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-danger-light-4;}
.fr-shadow-danger-5{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-danger-light-5;}
.fr-shadow-danger-6{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-danger-light-6;}
.fr-shadow-danger-7{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-danger-light-7;}
.fr-shadow-danger-8{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-danger-light-8;}
.fr-shadow-danger-9{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-danger-light-9;}
/**
 * 灰色
 */
.fr-shadow-white{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-white;}
.fr-shadow-black{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-black;}
.fr-shadow-gray-1{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-gray-1;}
.fr-shadow-gray-2{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-gray-2;}
.fr-shadow-gray-3{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-gray-3;}
.fr-shadow-gray-4{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-gray-4;}
.fr-shadow-gray-5{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-gray-5;}
.fr-shadow-gray-6{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-gray-6;}
.fr-shadow-gray-7{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-gray-7;}
.fr-shadow-gray-8{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-gray-8;}
.fr-shadow-gray-9{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-gray-9;}
.fr-shadow-gray-10{box-shadow: 0rpx 2rpx 24rpx 0rpx $fr-color-gray-10;}