/**
 * 主题色
 */
.fr-color-primary{color: $fr-color-primary;}
.fr-color-primary-1{color: $fr-color-primary-light-1;}
.fr-color-primary-2{color: $fr-color-primary-light-2;}
.fr-color-primary-3{color: $fr-color-primary-light-3;}
.fr-color-primary-4{color: $fr-color-primary-light-4;}
.fr-color-primary-5{color: $fr-color-primary-light-5;}
.fr-color-primary-6{color: $fr-color-primary-light-6;}
.fr-color-primary-7{color: $fr-color-primary-light-7;}
.fr-color-primary-8{color: $fr-color-primary-light-8;}
.fr-color-primary-9{color: $fr-color-primary-light-9;}
/**
 * 成功
 */
.fr-color-success{color: $fr-color-success;}
.fr-color-success-1{color: $fr-color-success-light-1;}
.fr-color-success-2{color: $fr-color-success-light-2;}
.fr-color-success-3{color: $fr-color-success-light-3;}
.fr-color-success-4{color: $fr-color-success-light-4;}
.fr-color-success-5{color: $fr-color-success-light-5;}
.fr-color-success-6{color: $fr-color-success-light-6;}
.fr-color-success-7{color: $fr-color-success-light-7;}
.fr-color-success-8{color: $fr-color-success-light-8;}
.fr-color-success-9{color: $fr-color-success-light-9;}
/**
 * 警告
 */
.fr-color-warning{color: $fr-color-warning;}
.fr-color-warning-1{color: $fr-color-warning-light-1;}
.fr-color-warning-2{color: $fr-color-warning-light-2;}
.fr-color-warning-3{color: $fr-color-warning-light-3;}
.fr-color-warning-4{color: $fr-color-warning-light-4;}
.fr-color-warning-5{color: $fr-color-warning-light-5;}
.fr-color-warning-6{color: $fr-color-warning-light-6;}
.fr-color-warning-7{color: $fr-color-warning-light-7;}
.fr-color-warning-8{color: $fr-color-warning-light-8;}
.fr-color-warning-9{color: $fr-color-warning-light-9;}
/**
 * 失败
 */
.fr-color-danger{color: $fr-color-danger;}
.fr-color-danger-1{color: $fr-color-danger-light-1;}
.fr-color-danger-2{color: $fr-color-danger-light-2;}
.fr-color-danger-3{color: $fr-color-danger-light-3;}
.fr-color-danger-4{color: $fr-color-danger-light-4;}
.fr-color-danger-5{color: $fr-color-danger-light-5;}
.fr-color-danger-6{color: $fr-color-danger-light-6;}
.fr-color-danger-7{color: $fr-color-danger-light-7;}
.fr-color-danger-8{color: $fr-color-danger-light-8;}
.fr-color-danger-9{color: $fr-color-danger-light-9;}
/**
 * 灰色
 */
.fr-color-white{color: $fr-color-white;}
.fr-color-black{color: $fr-color-black;}
.fr-color-gray-1{color: $fr-color-gray-1;}
.fr-color-gray-2{color: $fr-color-gray-2;}
.fr-color-gray-3{color: $fr-color-gray-3;}
.fr-color-gray-4{color: $fr-color-gray-4;}
.fr-color-gray-5{color: $fr-color-gray-5;}
.fr-color-gray-6{color: $fr-color-gray-6;}
.fr-color-gray-7{color: $fr-color-gray-7;}
.fr-color-gray-8{color: $fr-color-gray-8;}
.fr-color-gray-9{color: $fr-color-gray-9;}
.fr-color-gray-10{color: $fr-color-gray-10;}