/* 文本字号 */
.fr-text-xs{font-size: $fr-font-size-xs;}
.fr-text-sm{font-size: $fr-font-size-sm;}
.fr-text-md{font-size: $fr-font-size-md;}
.fr-text-lg{font-size: $fr-font-size-lg;}
.fr-text-xl{font-size: $fr-font-size-xl;}
/* 文本粗细 */
.fr-font-normal{font-weight: normal;}
.fr-font-bold{font-weight: bold;}
/* 文本位置 */
.fr-text-left{text-align: left;}
.fr-text-center{text-align: center;}
.fr-text-right{text-align: right;}
/* 超出行隐藏省略 */
/* #ifdef APP-VUE */
.fr-lines{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.fr-lines-1{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.fr-lines-2{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.fr-lines-3{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;}
.fr-lines-4{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;}
.fr-lines-5{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;}
.fr-lines-6{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 6;}
.fr-lines-7{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 7;}
.fr-lines-8{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 8;}
.fr-lines-9{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 9;}
.fr-lines-10{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 10;}
.fr-lines-11{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 11;}
.fr-lines-12{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 12;}
/* #endif */
/* #ifdef UNI-APP-X || APP-NVUE */
.fr-lines{text-overflow: ellipsis;lines: 1;}
.fr-lines-1{text-overflow: ellipsis;lines: 1;}
.fr-lines-2{text-overflow: ellipsis;lines: 2;}
.fr-lines-3{text-overflow: ellipsis;lines: 3;}
.fr-lines-4{text-overflow: ellipsis;lines: 4;}
.fr-lines-5{text-overflow: ellipsis;lines: 5;}
.fr-lines-6{text-overflow: ellipsis;lines: 6;}
.fr-lines-7{text-overflow: ellipsis;lines: 7;}
.fr-lines-8{text-overflow: ellipsis;lines: 8;}
.fr-lines-9{text-overflow: ellipsis;lines: 9;}
.fr-lines-10{text-overflow: ellipsis;lines: 10;}
.fr-lines-11{text-overflow: ellipsis;lines: 11;}
.fr-lines-12{text-overflow: ellipsis;lines: 12;}
/* #endif */
/* 文本装饰 */
.fr-text-underline{text-decoration-line: underline;}
.fr-text-line-through{text-decoration-line: line-through;}
/* Font Style */
.fr-italic{font-style: italic;}
.fr-not-italic{font-style: normal;}

@for $i from 0 to 101{
	/* 字体大小 */
	.fr-text-#{$i * 2}{font-size: $i * 2 + rpx;}
	/* 行高 */
	.fr-leading-#{$i * 2}{line-height: $i * 2 + rpx;}
	/* 间距 */
	.fr-tracking-#{$i * 2}{letter-spacing: $i * 2 + rpx;}
}
