/* Box Sizing */
.box-border{box-sizing: border-box}
.box-content{box-sizing: content-box}
/* Display */
.flex{display: flex;}
.grid{display: grid;}
.hidden{display: none;}
/* 溢出 Overflow */
.overflow-auto{overflow: auto}
.overflow-hidden{overflow: hidden}
.overflow-visible{overflow: visible}
.overflow-scroll{overflow: scroll}
.overflow-x-auto{overflow-x: auto}
.overflow-y-auto{overflow-y: auto}
.overflow-x-hidden{overflow-x: hidden}
.overflow-y-hidden{overflow-y: hidden}
.overflow-x-visible{overflow-x: visible}
.overflow-y-visible{overflow-y: visible	}
.overflow-x-scroll{overflow-x: scroll}
.overflow-y-scroll{overflow-y: scroll}
/* 定位 Position */
.position-static{position: static;}
.position-fixed{position: fixed;}
.position-absolute{position: absolute;}
.position-relative{position: relative;}
.position-sticky{position: sticky;}

.inset-full{top: 0rpx;right: 0rpx;bottom: 0rpx;left: 0rpx;}
.inset-x{right: 0rpx;left: 0rpx;}
.inset-y{top: 0rpx;bottom: 0rpx;}
.inset-top{top: 0rpx;}
.inset-bottom{bottom: 0rpx;}
.inset-right{right: 0rpx;}
.inset-left{left: 0rpx;}

@for $i from 0 to 188{
	.inset-top-#{$i * 2}{top: $i * 2 + rpx;}
	.inset-left-#{$i * 2}{left: $i * 2 + rpx;}
	.inset-bottom-#{$i * 2}{bottom: $i * 2 + rpx;}
	.inset-right-#{$i * 2}{right: $i * 2 + rpx;}
}

/* 层级 z-index */
.index-auto{z-index: auto;}
.index-1{z-index: 1;}
.index-2{z-index: 2;}
.index-3{z-index: 3;}
.index-4{z-index: 4;}
.index-5{z-index: 5;}
.index-6{z-index: 6;}
.index-7{z-index: 7;}
.index-8{z-index: 8;}
.index-9{z-index: 9;}
.index-10{z-index: 10;}
.index-11{z-index: 11;}
.index-12{z-index: 12;}
.index-top{order: 9999;}

.index--1{z-index: -1;}
.index--2{z-index: -2;}
.index--3{z-index: -3;}
.index--4{z-index: -4;}
.index--5{z-index: -5;}
.index--6{z-index: -6;}
.index--7{z-index: -7;}
.index--8{z-index: -8;}
.index--9{z-index: -9;}
.index--10{z-index: -10;}
.index--11{z-index: -11;}
.index--12{z-index: -12;}
.index-bottom{order: -9999;}

/* 透明度 */
@for $i from 0 to 21{
	.opacity-#{$i * 5}{opacity: $i * 5 * 0.01;}
}

/* 阴影 */
.box-shadow{box-shadow: 0rpx 2rpx 24rpx 0rpx rgba(0,0,0,0.08);}

/* 图片大小 */
.image-xs{width: $fr-image-size-xs;height: $fr-image-size-xs;}
.image-sm{width: $fr-image-size-sm;height: $fr-image-size-sm;}
.image-md{width: $fr-image-size-md;height: $fr-image-size-md;}
.image-lg{width: $fr-image-size-lg;height: $fr-image-size-lg;}
.image-xl{width: $fr-image-size-xl;height: $fr-image-size-xl;}

/* 点击效果 */
.hover-effect{background-color: $fr-color-gray-2;opacity: 0.7;}