/* 圆角 */
.round {border-radius: 50%;}
.round-none {border-radius: 0rpx;}
.round-xs {border-radius: $fr-border-radius-xs;}
.round-sm {border-radius: $fr-border-radius-sm;}
.round-md {border-radius: $fr-border-radius-md;}
.round-lg {border-radius: $fr-border-radius-lg;}
.round-xl {border-radius: $fr-border-radius-xl;}
.round-tl {border-top-left-radius: 50%;}
.round-tl-none {border-top-left-radius: 0rpx;}
.round-tl-xs {border-top-left-radius: $fr-border-radius-xs;}
.round-tl-sm {border-top-left-radius: $fr-border-radius-sm;}
.round-tl-md {border-top-left-radius: $fr-border-radius-md;}
.round-tl-lg {border-top-left-radius: $fr-border-radius-lg;}
.round-tl-xl {border-top-left-radius: $fr-border-radius-xl;}
.round-tr {border-top-right-radius: 50%;}
.round-tr-none {border-top-right-radius: 0rpx;}
.round-tr-xs {border-top-right-radius: $fr-border-radius-xs;}
.round-tr-sm {border-top-right-radius: $fr-border-radius-sm;}
.round-tr-md {border-top-right-radius: $fr-border-radius-md;}
.round-tr-lg {border-top-right-radius: $fr-border-radius-lg;}
.round-tr-xl {border-top-right-radius: $fr-border-radius-xl;}
.round-bl {border-bottom-left-radius: 50%;}
.round-bl-none {border-bottom-left-radius: 0rpx;}
.round-bl-xs {border-bottom-left-radius: $fr-border-radius-xs;}
.round-bl-sm {border-bottom-left-radius: $fr-border-radius-sm;}
.round-bl-md {border-bottom-left-radius: $fr-border-radius-md;}
.round-bl-lg {border-bottom-left-radius: $fr-border-radius-lg;}
.round-bl-xl {border-bottom-left-radius: $fr-border-radius-xl;}
.round-br {border-bottom-right-radius: 50%;}
.round-br-none {border-bottom-right-radius: 0rpx;}
.round-br-xs {border-bottom-right-radius: $fr-border-radius-xs;}
.round-br-sm {border-bottom-right-radius: $fr-border-radius-sm;}
.round-br-md {border-bottom-right-radius: $fr-border-radius-md;}
.round-br-lg {border-bottom-right-radius: $fr-border-radius-lg;}
.round-br-xl {border-bottom-right-radius: $fr-border-radius-xl;}

@for $i from 0 to 25{
	.border-#{$i}{border-width: $i + rpx;}
	.border-top-#{$i}{border-top-width: $i + rpx;}
	.border-bottom-#{$i}{border-bottom-width: $i + rpx;}
	.border-left-#{$i}{border-left-width: $i + rpx;}
	.border-right-#{$i}{border-right-width: $i + rpx;}
}
/* 边框样式 */
.border-solid{border-style: solid;}
.border-dashed{border-style: dashed;}
.border-dotted{border-style: dotted;}
.border-double{border-style: double;}
.border-hidden{border-style: hidden;}
.border-none{border-style: none;}
.border-top-solid{border-top-style: solid;}
.border-top-dashed{border-top-style: dashed;}
.border-top-dotted{border-top-style: dotted;}
.border-top-double{border-top-style: double;}
.border-top-hidden{border-top-style: hidden;}
.border-top-none{border-top-style: none;}
.border-bottom-solid{border-bottom-style: solid;}
.border-bottom-dashed{border-bottom-style: dashed;}
.border-bottom-dotted{border-bottom-style: dotted;}
.border-bottom-double{border-bottom-style: double;}
.border-bottom-hidden{border-bottom-style: hidden;}
.border-bottom-none{border-bottom-style: none;}
.border-right-solid{border-right-style: solid;}
.border-right-dashed{border-right-style: dashed;}
.border-right-dotted{border-right-style: dotted;}
.border-right-double{border-right-style: double;}
.border-right-hidden{border-right-style: hidden;}
.border-right-none{border-right-style: none;}
.border-left-solid{border-left-style: solid;}
.border-left-dashed{border-left-style: dashed;}
.border-left-dotted{border-left-style: dotted;}
.border-left-double{border-left-style: double;}
.border-left-hidden{border-left-style: hidden;}
.border-left-none{border-left-style: none;}