/**
 * ============== Spacing =================
 */
/* Margin */
.margin {margin: 0;}
.margin-xs {margin: $fr-margin-padding-xs;}
.margin-sm {margin: $fr-margin-padding-sm;}
.margin-md {margin: $fr-margin-padding-md;}
.margin-lg {margin: $fr-margin-padding-lg;}
.margin-xl {margin: $fr-margin-padding-xl;}

.margin-top-xs {margin-top: $fr-margin-padding-xs;}
.margin-top-sm {margin-top: $fr-margin-padding-sm;}
.margin-top-md {margin-top: $fr-margin-padding-md;}
.margin-top-lg {margin-top: $fr-margin-padding-lg;}
.margin-top-xl {margin-top: $fr-margin-padding-xl;}

.margin-right-xs {margin-right: $fr-margin-padding-xs;}
.margin-right-sm {margin-right: $fr-margin-padding-sm;}
.margin-right-md {margin-right: $fr-margin-padding-md;}
.margin-right-lg {margin-right: $fr-margin-padding-lg;}
.margin-right-xl {margin-right: $fr-margin-padding-xl;}

.margin-bottom-xs {margin-bottom: $fr-margin-padding-xs;}
.margin-bottom-sm {margin-bottom: $fr-margin-padding-sm;}
.margin-bottom-md {margin-bottom: $fr-margin-padding-md;}
.margin-bottom-lg {margin-bottom: $fr-margin-padding-lg;}
.margin-bottom-xl {margin-bottom: $fr-margin-padding-xl;}

.margin-left-xs {margin-left: $fr-margin-padding-xs;}
.margin-left-sm {margin-left: $fr-margin-padding-sm;}
.margin-left-md {margin-left: $fr-margin-padding-md;}
.margin-left-lg {margin-left: $fr-margin-padding-lg;}
.margin-left-xl {margin-left: $fr-margin-padding-xl;}

.margin-x-xs {margin-left: $fr-margin-padding-xs;margin-right: $fr-margin-padding-xs;}
.margin-x-sm {margin-left: $fr-margin-padding-sm;margin-right: $fr-margin-padding-sm;}
.margin-x-md {margin-left: $fr-margin-padding-md;margin-right: $fr-margin-padding-md;}
.margin-x-lg {margin-left: $fr-margin-padding-lg;margin-right: $fr-margin-padding-lg;}
.margin-x-xl {margin-left: $fr-margin-padding-xl;margin-right: $fr-margin-padding-xl;}

.margin-y-xs {margin-top: $fr-margin-padding-xs;margin-bottom: $fr-margin-padding-xs;}
.margin-y-sm {margin-top: $fr-margin-padding-sm;margin-bottom: $fr-margin-padding-sm;}
.margin-y-md {margin-top: $fr-margin-padding-md;margin-bottom: $fr-margin-padding-md;}
.margin-y-lg {margin-top: $fr-margin-padding-lg;margin-bottom: $fr-margin-padding-lg;}
.margin-y-xl {margin-top: $fr-margin-padding-xl;margin-bottom: $fr-margin-padding-xl;}
/* Padding */
.padding {padding: 0;}
.padding-xs {padding: $fr-margin-padding-xs;}
.padding-sm {padding: $fr-margin-padding-sm;}
.padding-md {padding: $fr-margin-padding-md;}
.padding-lg {padding: $fr-margin-padding-lg;}
.padding-xl {padding: $fr-margin-padding-xl;}

.padding-top-xs {padding-top: $fr-margin-padding-xs;}
.padding-top-sm {padding-top: $fr-margin-padding-sm;}
.padding-top-md {padding-top: $fr-margin-padding-md;}
.padding-top-lg {padding-top: $fr-margin-padding-lg;}
.padding-top-xl {padding-top: $fr-margin-padding-xl;}

.padding-right-xs {padding-right: $fr-margin-padding-xs;}
.padding-right-sm {padding-right: $fr-margin-padding-sm;}
.padding-right-md {padding-right: $fr-margin-padding-md;}
.padding-right-lg {padding-right: $fr-margin-padding-lg;}
.padding-right-xl {padding-right: $fr-margin-padding-xl;}

.padding-bottom-xs {padding-bottom: $fr-margin-padding-xs;}
.padding-bottom-sm {padding-bottom: $fr-margin-padding-sm;}
.padding-bottom-md {padding-bottom: $fr-margin-padding-md;}
.padding-bottom-lg {padding-bottom: $fr-margin-padding-lg;}
.padding-bottom-xl {padding-bottom: $fr-margin-padding-xl;}

.padding-left-xs {padding-left: $fr-margin-padding-xs;}
.padding-left-sm {padding-left: $fr-margin-padding-sm;}
.padding-left-md {padding-left: $fr-margin-padding-md;}
.padding-left-lg {padding-left: $fr-margin-padding-lg;}
.padding-left-xl {padding-left: $fr-margin-padding-xl;}

.padding-x-xs {padding-left: $fr-margin-padding-xs;padding-right: $fr-margin-padding-xs;}
.padding-x-sm {padding-left: $fr-margin-padding-sm;padding-right: $fr-margin-padding-sm;}
.padding-x-md {padding-left: $fr-margin-padding-md;padding-right: $fr-margin-padding-md;}
.padding-x-lg {padding-left: $fr-margin-padding-lg;padding-right: $fr-margin-padding-lg;}
.padding-x-xl {padding-left: $fr-margin-padding-xl;padding-right: $fr-margin-padding-xl;}

.padding-y-xs {padding-top: $fr-margin-padding-xs;padding-bottom: $fr-margin-padding-xs;}
.padding-y-sm {padding-top: $fr-margin-padding-sm;padding-bottom: $fr-margin-padding-sm;}
.padding-y-md {padding-top: $fr-margin-padding-md;padding-bottom: $fr-margin-padding-md;}
.padding-y-lg {padding-top: $fr-margin-padding-lg;padding-bottom: $fr-margin-padding-lg;}
.padding-y-xl {padding-top: $fr-margin-padding-xl;padding-bottom: $fr-margin-padding-xl;}


@for $i from 0 to 376{
	.margin-top--#{$i * 2}{margin-top: -$i * 2 + rpx;}
	.margin-top-#{$i * 2}{margin-top: $i * 2 + rpx;}
}