@import "./scss/var.scss";
@import "./scss/colors.scss";
@import "./scss/background.scss";
@import "./scss/boxShadow.scss";
@import "./scss/border.scss";
@import "./scss/spacing.scss";
@import "./scss/sizing.scss";
@import "./scss/text.scss";



/* #ifdef APP-VUE */
view,text{
	overflow-wrap: break-word;
	box-sizing: border-box;
}

::v-deep .uni-page-refresh__icon{
	fill:$fr-color-primary;
}
::v-deep .uni-page-refresh__path{
	stroke:$fr-color-primary;
}
/* #endif */