@import "./scss/var.scss";
@import "./scss/colors.scss";
@import "./scss/background.scss";
@import "./scss/boxShadow.scss";
@import "./scss/border.scss";
@import "./scss/spacing.scss";
@import "./scss/sizing.scss";
@import "./scss/text.scss";



/* #ifdef APP-VUE */
text{
	overflow-wrap: break-word;
}
view{
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex: none;
	position: relative;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

::v-deep .uni-page-refresh__icon{
	fill:$fr-color-primary;
}
::v-deep .uni-page-refresh__path{
	stroke:$fr-color-primary;
}
/* #endif */